<html>
    <head>
    <style>
    td {
      text-align: center;
    }
    img {
       vertical-align: baseline;
    }
    </style>
      {% if title %}
      <title>{{ title }} - LogP Challenge</title>
      {% else %}
      <title>Welcome to LogP Challenge</title>
      {% endif %}
    </head>
    <body>
        <div>
        <table width="100%" style="background-color: #8f8fff;">
        <tr>
        <td><img src="{{url_for('display_image', filename='banner2.png')}}" height="100"</td>
        <tr>
        </table>
        </div>
        <div>
            <a href="/index">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
