{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.first_name }}</h1>
    <h3>Upload your submission here!</h3>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.cdxfile.label }}<br>
            {{ form.cdxfile }}
            {% for error in form.cdxfile.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {{ form.submit.label }}<br>
        {{ form.submit }}
    </form>
{% endblock %}
