{% extends "base.html" %}

{% block content %}
    <table>
    <tr>
        <th>Contestant</th>
        <th>Target 1.5</th>
        <th>Target 2.5</th>
        <th>Target 3.5</th>
        <th>Target 4.5</th>
        <th>Score</th>
    </tr>
    {% for entry in ranked_entries %}
     <tr>
       <td style="vertical-align: bottom;">{{entry.author.first_name}}</td>
       <td><img src="{{url_for('display_image', filename=entry.png1)}}" width="100"></td>
       <td><img src="{{url_for('display_image', filename=entry.png2)}}" width="100"></td>
       <td><img src="{{url_for('display_image', filename=entry.png3)}}" width="100"></td>
       <td><img src="{{url_for('display_image', filename=entry.png4)}}" width="100"></td>
        <td> </td>
    </tr>
    <tr>
        <td>{{entry.author.surname}} </td>
        <td>{{entry.logp1}}</td>
        <td>{{entry.logp2}}</td>
        <td>{{entry.logp3}}</td>
        <td>{{entry.logp4}}</td>
       <td><b>{{entry.score}}</b></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
