{% extends "base.html" %}

{% block content %}
    <h3>You have scored {{entry.score}}</h3>
    <table>
    <tr>
        <th>Target 1.5</th>
        <th>Target 2.5</th>
        <th>Target 3.5</th>
        <th>Target 4.5</th>
    </tr>
     <tr>
       <td><img src="{{url_for('display_image', filename=entry.png1)}}" width="100"></td>
       <td><img src="{{url_for('display_image', filename=entry.png2)}}" width="100"></td>
       <td><img src="{{url_for('display_image', filename=entry.png3)}}" width="100"></td>
       <td><img src="{{url_for('display_image', filename=entry.png4)}}" width="100"></td>
    </tr>
    <tr>
        <td>{{entry.logp1}}</td>
        <td>{{entry.logp2}}</td>
        <td>{{entry.logp3}}</td>
        <td>{{entry.logp4}}</td>
    </tr>
    </table>
    <a href="{{url_for('leaderboard')}}"> Next: see leaderboard</a>
{% endblock %}
